{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Go Mysql Example</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>Go - Mysql CRUD - Schutz3</h1>
    <p>CRUD WITH MySQL and Golang</p>
{{ end }}
